# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# DB
*.sqlite3
