django>=5.2
djangorestframework
django-cors-headers
channels
daphne
python-decouple
djangorestframework-simplejwt
google-generativeai
google-cloud-speech
google-cloud-texttospeech
boto3
psycopg2-binary
PyPDF2
pdfminer.six
WeasyPrint
Pillow
dj-database-url
django-storages
